body{
    margin:0;
}
.fa-arrow-right{
    color:black;
    font-size:2em;
}
.fa-arrow-left{
    color:black;
    font-size:2em;
}
header{
    padding:10px;
    height:5vh;
    font-size: 2em;
    background-color: rgb(68, 68, 197);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    min-height:80vh;
}
#sectionMinuteur{
    height:50vh;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#div_form_minuteur{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    width:85%;
}
#sectionChrono{
    height:50vh;
    width:100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flex_row{
    display: flex;
    flex-direction: row;
    width:30%;
    justify-content: space-around;
}
#sectionChronoForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30%;
}
#section_chrono_inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* width:10vh; */
    padding:20px;
}
#form_chronometre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width:100%;
}
#taleauTour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    margin-left:2%;
    height:20vh;
    width:30%;
    background-color: whitesmoke;
    border-radius: 1em;
    box-shadow: 2px 2px 2px black;
    margin-top: 20px;
}
.tools_title{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}
#horloge{
    height:50vh;
    width:100%;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




/* FOOTER */
footer{
    height:20vh;
    font-size: 2em;
    background-color: rgb(68, 68, 197);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'signature';

}
@font-face {
    font-family: 'signature';
    src: url(fonts/signature/Zenzai-Itacha.ttf);
}
.img{
    height:150px;
    width:150px;
}
#signature{
    display: flex;
    flex-direction: column;
}